//< General >===============================================================================================
*, *:after, *:before {
  box-sizing: border-box;
}
body {
	font-family: $mainFontFamily;
  font-weight: 400;
  overflow: scroll;
  width: 100%;
} 

//< General >===============================================================================================

