//< General >===============================================================================================
*, *:after, *:before {
  box-sizing: border-box;
}
body {
	font-family: $mainFontFamily;
  font-weight: 400;
  overflow-y: scroll;
  overflow-x: hidden;
  @include buildSize(100%, 100%);
  position: relative;
} 


//< General >===============================================================================================

