.header {
     @include buildSize(100%, $headerHeight);
     @include flexAlign(flex, center, center);
     flex-direction: column;
     background: $mainBackground;
     position: fixed;
     border-bottom: $mainBorder;
     z-index: 100;

     &__container {
          @include flexAlign(flex, center, space-between);
          @include buildSize(100%, calc($headerHeight - $runninglineHeight));
          max-width: calc($maxContentWidth + 40px);
          padding: 0 20px;
     }

     &__navigation {
          height: inherit
     }

     &__links {
          @include flexAlign(flex, center, start);
          height: inherit;

          &>li {
               @include buildFont($mainFontFamily, 14px, 600, $complementaryDark);
               padding: 0 10px;
               height: 100%;
               transition: $standartTransition;
               cursor: pointer;

               &:hover {
                    margin-bottom: 5px;
               }

               &>a {
                    height: inherit;
                    @include flexAlign(flex, center, center);
                    color: $complementaryDark;
                    text-decoration: none;
               }
          }
     }

     &__buttonsContainer {
          height: 100%;
          @include flexAlign(flex, center, center);
     }
}
@media screen and (max-width: $breakpoint-lg) {
     .header {
          &__buttonsContainer {
               margin-right: 10px;
          }
     }
}

@media screen and (max-width:$breakpoint-xs) {
     .header {
          &__navigation {
               height: auto;
          }

          &__buttonsContainer {
               margin: 0;
          }

          &__links {
               flex-direction: column;
               width: 80%;
               align-items: flex-start;
               margin-bottom: 10px;

               &>li {
                    height: 40px;
                    padding: 0;
                    @include buildFont($mainFontFamily, 20px, 700, $complementaryDark);
               }
          }
     }
}