.joinWaitlist {
     @include buildSize(100%, 100%);
     @include flexAlign(flex, center, center);
     background: $secondaryGradient;

     &__container {
          @include buildSize(100%, 650px);
          @include flexAlign(flex, center, center);
          max-width: $maxContentWidth + 40px;
          padding: 0 20px;
          flex-direction: column;
     }

     &__stickers {
          @include flexAlign(flex, center, center);
          gap: 40px;

          &>:nth-child(2) {
               margin-bottom: 90px;
          }
     }

     &__title {
          @include buildFont($mainFontFamily, 48px, 700, $mainOrangy);
          width: 70%;
          text-align: center;
          margin-bottom: 30px;
     }

     &__span {
          font-family: $secondaryFontFamily;
          font-style: italic;
          color: $complementaryDark;
     }

     &__text {
          @include buildFont($mainFontFamily, 18px, 500, $complementaryDark);
          margin-bottom: 30px;
     }

}