.partners {
     @include buildSize(100%, 100%);
     @include flexAlign(flex, center, center);
     min-height: 110px;
     background: $mainBackground;

     &__container {
          @include buildSize($maxContentWidth + 40, 100%);
          @include flexAlign(flex, center, space-between);
          padding: 20px 20px;
     }

     &__logos {
          @include flexAlign(flex, center, space-between);
          @include buildSize(100%, 100%);
          margin-right: 5%;
          gap: 0;
          flex-wrap: wrap;

          &>li {
               height: inherit;
               @include flexAlign(flex, center, center);

               &>a {
                    width: 100%;
                    height: inherit;
                    @include flexAlign(flex, center, center);

                    &>picture>img {
                         width: 100%;
                    }
               }
          }
     }
}

@media screen and (max-width: $breakpoint-lg) {
     .partners {
          &__container {
               flex-direction: column;
               row-gap: 20px;
          }

          &__logos {
               margin: 0;

               &>li {
                    width: 45%;
               }
          }
     }
}